@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: rgb(170, 216, 243);
  --background-end-rgb: rgb(31, 187, 187);
  --background-blue-00: #031835;
  --background-blue-01: #045ed3;
  --background-blue-02: #0093cb;
  --background-blue-03: #016288;
  --background-blue-04: #6dd7fd;
  --background-blue-05: #bef0ff;
  --background-body: #ffffff;
  --color-white-00:#FFFFFF;
  --color-blue-01:rgb(12, 12, 17)ckground-blue-00;  
}
*{
  padding: 0%;
  margin: 0%;
}
body{
  background-color: var(--background-body);
  color:var(--background-blue-00);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
.button {
  background-color: var(--background-blue-01); 
  color: var(--background-blue-06);
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin:2px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--background-blue-02); 
}

li{
  color:white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
}


.link {
  border-left: transparent solid 3px;
  padding: 3px;

}
.link:hover{
   transition: border-left-color 0.3s;
  border-left:var(--background-blue-00) solid 3px;
}


.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  border-color: var(--background-blue-06); 
  border-color: #44cc11; 
}

.container-box {
  margin: 0 auto;
  padding: 20px;
  max-width: 600px;
}

.table-container {
  margin-top: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.table-container th {
  background-color: #f2f2f2;
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.pagination .page-link:hover {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}

.pagination .page-item.active .page-link {
  /* background-color: #ff5a5f;  */
  /* border-color: #ff5a5f;  */
  color: white;
}

.mainPage{
  /* color:white; */
  }

.mainPage__button_number:hover{
  background-color:var(--background-blue-00); 
  border-color: white;
  
}
.mainPage__button{
  /* background-color:var(--background-blue-00);  */
  color: var(--background-blue-04);
  /* border: 1px solid #ff5a5f; */
  border-radius: 4px;
  padding: 3px 6px;
  margin:5px 10px;
}
.mainPage__button_number{
  /* border:1px solid #ff5a5f;
  background-color: #ff5a5f; */
  border-radius: 4px;
  padding: 3px 10px;
  margin: 5px 8px;
  /* color: white; */
}
.mainPage__pagination{
  text-align: center;
}

.react-calendar {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
